<% title controller_name + " " + action_name %>
<table>
    <thead>
        <tr>
            <th> word </th>
            <th> counter </th>
            <th> frequency </th>
            <th> syllable </th>
            <th> rank </th>
            <th> group </th>
            <th> rank one </th>
            <th> rank two </th>
            <th> predicate </th>
            
        </tr> 
    </thead>
    <tbody>

    <tbody>
        <% @subtitles.each do |subtitle| %>
            <tr>
                <td class="sub-word"><%= subtitle.word %></td>
                <td><%= subtitle.counter %></td>
                <td><%= subtitle.frequency.strftime("%H"":""%M"":""%S")  %></td>
                <td><%= subtitle.syllable %></td>
                <td><%= subtitle.word_rank %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate @subtitles, inner_window: 1, outer_window: 1 %>
