<% title controller_name + " " + action_name %>
<table>
    <thead>
        <tr>
            <th> word </th>
            <th> counter </th>
            <th> frequency </th>
            <th> syllable </th>
            <th> group </th>
            <th> rank one </th>
            <th> rank two </th>
            <th> rank three </th>
            
        </tr> 
    </thead>
    <tbody>
        <% @wordgroups.each do |subtitle| %>
            <tr>
                <td class="sub-word"><%= subtitle.word %></td>
                <td><%= subtitle.counter %></td>
                <td><%= subtitle.frequency.strftime("%H"":""%M"":""%S")  %></td>
                <td><%= subtitle.syllable %></td>
                <td><%= subtitle.word_group_results.first.group %></td>
                <td><%= subtitle.word_group_results.first.rank_one %></td>
                <td><%= subtitle.word_group_results.first.rank_two %></td>
                <td><%= subtitle.word_group_results.first.rank_three %></td>
            </tr>
        <% end %>
    </tbody>
    
</table>

<%= will_paginate @wordgroups, inner_window: 1, outer_window: 1 %>
