<%= render "subtitles/partials/aside" %>

<main class="small">
    <!--begin category subtitles-->
      <% if params[:category] == "4" %>
        <tbody>
          <%= render "subtitles/partials/subtitle" %>
        </tbody>

      <!--begin category filter-->
      <% elsif params[:category] == "5" %>
        <tbody>
          <%= render "subtitles/partials/filter" %>
        </tbody>

      <!--begin category wordgroup-->
      <% elsif params[:category] == "6" %>
        <tbody>
          <%= render "subtitles/partials/wordgroup" %>
        </tbody>

      <!--begin category predicates-->
      <% elsif params[:category] == "7" %>
        <tbody>
          <%= render "subtitles/partials/predicate" %>
        </tbody>
      <% end%>
</main>



