<% title controller_name + " " + action_name %>
<table>
    <thead>
        <tr>
            <th> word </th>
            <th> counter </th>
            <th> syllable </th>
            <th> group </th>
            <th> rank one </th>
            <th> rank two </th>
            <th> predicate </th>
            
        </tr> 
    </thead>
    <tbody>
        <% @filters.each do |subtitle| %>
        <tr>
            <td class="sub-word"><%= subtitle.word %></td>
            <td><%= subtitle.counter %></td>
            <td><%= subtitle.syllable %></td>
            <td><%= truncate(subtitle.filter_group_results.first.group, length: 12) %></td>
            <td><%= subtitle.filter_group_results.first.rank_one %></td>
            <td><%= subtitle.filter_group_results.first.rank_two %></td>
            <td><%= subtitle.filter_group_results.first.predicate %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate @filters, inner_window: 1, outer_window: 1 %>
