<% @filters.each do |subtitle| %>
    <tr>
        <td><%= subtitle.word %></td>
        <td><%= subtitle.title %></td>
        <td><%= subtitle.counter %></td>
        <td><%= 313 / subtitle.counter %> mins</td>
        <td><%= subtitle.syllable %></td>
        <td><%= subtitle.filter_group_results.first.rank_one %></td>
        <td><%= subtitle.filter_group_results.first.rank_two %></td>
        <td><%= subtitle.filter_group_results.first.group %></td>
        <td><%= subtitle.filter_group_results.first.predicate %></td>
    </tr>
<% end %>

<%= will_paginate @filters %>
