<%= render "youtube_filter/subtitles/partials/aside" %>

<main class="small">
    <!--begin category youtube_filter_subtitles-->
      <% if params[:category] == "1" %>
        <tbody>
          <%= render "youtube_filter/subtitles/partials/subtitle" %>
        </tbody>

      <!--begin category filter-->
      <% elsif params[:category] == "2" %>
        <tbody>
          <%= render "youtube_filter/subtitles/partials/theme" %>
        </tbody>

      <!--begin category wordgroup-->
      <% elsif params[:category] == "3" %>
        <tbody>
          <%= render "youtube_filter/subtitles/partials/wordgroup" %>
        </tbody>

      <!--begin category predicates-->
      <% elsif params[:category] == "4" %>
        <tbody>
          <%= render "youtube_filter/subtitles/partials/predicate" %>
        </tbody>

      <!--begin category wordgroup-->
      <% elsif params[:category] == "5" %>
        <tbody>
          <%= render "youtube_filter/subtitles/partials/submodalities" %>
        </tbody>

      <% end %>
</main>



